<a name="news"></a>

<div class="newsbox">
  <h1>IM THE NEWS MOTHERFUCKER!!!! </h1>
</div>
<div class="links">
    <ul class="coffins">
      <li><a href="https://toccatanosferatu.bandcamp.com"><%=image_tag('Bandcamp.png')%></a></li>
      <li><a href="https://www.facebook.com/ToccataNosferatu"><%=image_tag('Facebook.png')%></a></li>
      <li><a href="https://www.youtube.com/channel/UCeN2hMWUyoSpg9P4Tipk-zQ"><%=image_tag('Youtube.png')%></a></li>
      <li><a href="https://www.reverbnation.com/toccatanosferatu"><%=image_tag('Reverbnation.png')%></a></li>
      <li><a href="https://soundcloud.com/toccata-nosferatu"><%=image_tag('Soundcloud.png')%></a></li>
    </ul>

</div>
