
<div class= "container-fluid" >
  <div id="first">
    <div class="header container">
      <%= render 'pages/header' %>
    </div>
    <div class="landing">
      <%= render 'pages/landing' %>
    </div>
  </div>
  <div id="second">
     <%= render 'pages/about' %>
  </div>

  <div id="third">
     <%= render 'pages/news' %>
  </div>

  <div id="footer">
     <%= render 'pages/footer' %>
  </div>

</div>
