<div class="header">
        	
        	<div class="logo">
               <%= link_to image_tag("LogoSymbol1c.jpg"), root_path%>
        	</div>
      <div class="container">
         <div class="background">
               <%= image_tag "background1.png" %>
        	</div>

       <div class="navbar">
             <ul>
                 <li><%= link_to image_tag("homebutton1.png"), root_path %></li>
                 <li><%= link_to image_tag("aboutbutton1.png"), about_path %></li>
                 <li><%= link_to image_tag("linksbutton1.png"), links_path %></li>
                 <li><%= link_to image_tag("mediabutton1.png"), media_path %></li>
                 <li><%= link_to image_tag("contactbutton1.png"), contact_path %></a></li>
              </ul>
       </div>
   </div>
</div>